{% extends "base.html" %}
{% block title %}binder - Login with OpenID{% endblock %}
{% block nav %}{# disable nav bar #}{% endblock %}
{% block page_heading %}Login with OpenID{% endblock %}
{% block page_copy %}
<form action="" method=post>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
  <p>
    OpenID:
    <input type=text name=openid size=30>
    <input type=submit value="Sign in">
    <input type=hidden name=next value="{{ next }}">
</form>
{% endblock %}
