{% extends 'base.html' %}
{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">binder</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Brings students closer.</h1>
        <p class="lead">binder is a networking tool for students everywhere.</p>
        <p class="lead">Find peers who share your interests and help each other out. Binder is all about paying it forward. </p>
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
            <p>binder (c) 2015. Get the source code <a href="http://git.dandy.design/ananth/binder">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
